<h1>Neuer Spieler erstellen</h1>
<form>
  <div class="form-group">
    <label for="inputFirstname">Vorname</label>
    <input required placeholder="Hans" type="text" class="form-control" id="inputFirstname" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="inputLastname">Nachname</label>
    <input required placeholder="Mustermann" type="text" class="form-control" id="inputLastname" aria-describedby="emailHelp">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Erstellen</button>
</form>
